[submodule "rime-ice.git"]
	path = rime-ice
	url = https://github.com/iDvel/rime-ice.git
[submodule "mpv-config.git"]
	path = mpv-config
	url = https://github.com/Zabooby/mpv-config.git
[submodule "nvim.git"]
	path = nvim
	url = https://github.com/yaocccc/nvim.git
