[user]
	email = resung@qq.com
	name = coldsu
	signingkey = 306517308+coldsyu@users.noreply.github.com
[credential]
	helper = store
[commit]
	gpgsign = true
[core]
	editor = vim
	autocrlf = input
[log]
	date = format:%Y/%m/%d %H:%M:%S
